.rodape {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    color: wheat;
    margin-top: 1rem;
}

.social-media {
    margin-left: 4rem;
}

a {
    color: wheat;
    text-decoration: none;
}